* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('medical.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* Allows the container to grow with content */
    padding: 30px; /* Add padding to ensure content doesn’t touch edges */
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.5em;
    line-height: 1.8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.lead {
    max-width: 700px;
    margin: 0 auto;
}